.answer_input{
    width: 100px;
    height: 27px;
    border-radius: 3px;
    outline: 0;
    font-weight: 700;
    color: white;
    border: 0;
    width: 50%;
    border-bottom: 1px solid #5bb577;
    background: transparent;
}