.exam_wrapper{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    width: 95%;
    min-height: 100vh;
    color: var(--font-color);
    padding: 24px;
    border-radius: 3px;
    /*border: 1px solid rgb(222, 224, 227);*/
    box-shadow: rgb(196 199 204) 0px 0px 2px;
    background-color: var(--secondary-color);     
}
.exam_heading{
    text-align: center;
}
.exam_button{
    display: flex;
    justify-content: space-between;
}
.exam_button button{
    cursor: pointer;
}
.hide{
    opacity: 0;

}
.show{
    opacity: 1;
}